main {
    color: white;
    background-color: #003366;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > section {
    font-size: 24px;
    margin: 0 10%;
}
