main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 40%;
}

main > form > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    width: 100%;
}

main > form > section > input {
    padding: 12px 8px;
    border-radius: 15px;
    margin-top: 30px;
    width: 100%;
}

main > form > section > input:focus {
    outline: none;
}

button {
    border-radius: 15px;
    padding: 12px 8px;
    margin-left: auto;
}

.notice {
    color: red;
}
