body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    height: 100vh;
    background-color: #F1EEF9;
}

h1 { font-size: 36px; }

h2 { font-size: 24px; }

h3 { font-size: 18px; }

h4 { font-size: 14px; }

body > header {
    margin: 0;
}

body > footer {
    width: 80vw;
    background-color: #003366;
    color: white;
    height: 5vh;
    align-items: center;
}

body > footer > p {
    margin: 0;
    font-weight: 700;
}

main {
    width: 80vw;
    margin: 0;
    height: 95vh;
}

.articles-section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    height: 95vh;
}

.articles-section > article.index {
    display: flex;
    flex-direction: column;
    height: 19vh;
    margin: 0;
    border-bottom: 1px solid white;
    padding-left: 40px;
    padding-top: 20px;
}

.articles-section > article.index > h2 {
    margin: 0;
    width: 80%;
}

.articles-section > article.index > h2 > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.articles-section > article.index > section.tags > a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#github-link > img {
    width: 50px;
    height: 50px;
}
