main.post {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article.full {
    width: 60%;
    height: 100%;
}

section.tag-section {
    display: flex;
    flex-direction: row;
    margin: 10px 0; 
}

section.tag-section > label {
    margin-right: 10px;
}

div.tag-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.tag-box > a {
    margin: 0 5px;
}

section.body {
    margin: 10px 0;
}

article.full > footer {
    display: flex;
    flex-direction: column;
}

article.full > footer > .date-info {
    margin: 5px 0;
    font-weight: 600;
}

section.comments > form {
    display: flex;
    flex-direction: column;
}

section.comments > form > .user-info {
    margin-bottom: 10px;
}

section.comments > form > .user-info > input {
    padding: 5px 10px;
    border-radius: 12px;
}

section.comments > form > textarea {
    padding: 5px 10px;
    border-radius: 12px;
}

section.comments > form > button {
    margin-left: auto;
    border-radius: 10px;
    padding: 5px 10px;
}

div.comment {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

div.comment > header.comment {
    display: flex;
    justify-content: space-between;
}

div.comment > header > .item > label {
    font-weight: 500;
}
