@import com.kdmlog.dbentity.Article
@(article: Article)

<article class="index">
    <h2><a href="/posts/@article.post.postId">@article.post.title</a></h2>
    <label>@article.post.publishDate</label>
    <section class="tags">
    @for(tag <- article.tags) {
        <a href="/search?keywords=@tag.name">@tag.name</a>
    }
    </section>
</article>

